*,*::after,*::before {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.parent {
    background-color: #23424a;
    color: white;

    max-width: 80%;
    margin: 0 auto;

    /* if you can never settings the height set padding instead */
    padding: 3rem 5rem;
    /* height: 300px; */
}

/* kevin challange 1 */
.child {
    width: 50%;
}